# Igonore .idea directory
.idea/

# Ignore output directory
out

# Ignore test directory
tests

# Ignore META-INF directory
META-INF

# Ignore project settings files
*.iml

# Ignore text files
*.txt

# Ignore DuoText files
*.dtxt
